 

   <form  action="" id="chatbotForm" method="post" enctype="multipart/form-data" class="px-4" >
      
      {% csrf_token %}
      <div class="form-group mt-3">  
            <label for="bot-name ">Name: <span class="text-danger" >*</span> </label>
            <input type="text" class="form-control" id="bot-name" name="name" placeholder="Enter the name of your chatbot" required autofocus  >
            <input type="text" class="form-control" id="connections_pk" name="connections_pk" placeholder="connections_pk" style="display: none;" >
          </div>
          
       
<div class="form-group">
            <label for="bot-image">Icon:</label>
            <input type="file" class="form-control" id="bot-image" name="bot-image" >
          </div>


        <div class="form-group">
          <label for="header">Header Title:  </label>
          <input type="text" class="form-control" id="header" name="header-title" placeholder="Enter bot tile" >
        </div>


 <div class="form-group">
          <label for="header">Greeting Message:</label>
          <input type="text" class="form-control" id="greeting"   name='greeting' value="Hi, how can I help you today?">
        </div>



        <div class="form-group">
        <label for="task">Bot Task (Prompts): <span class="text-danger" >*</span></label>
        <textarea rows="6" required class="form-control" id="task"  name="task" placeholder="Enter prompt task for your bot">You are a friendly airline support agent. Use only the following facts to answer questions. If you don’t know the answer, you will say “Sorry, I don’t know. Let me contact a human to help.” and nothing else.</textarea>
      </div>

<div style="display: flex; justify-content:space-between" >

 <div class="form-group" style="width:48%;" >
          <label for="font">Font:</label>
          <select class="form-control" id="font"  name="font">
            <option>Arial</option>
            <option>Helvetica</option>
            <option>Times New Roman</option>
            <!-- Add more font options here -->
          </select>
        </div>


<div class="form-group" style="width:48%;">
          <label for="font-size">Font Size:</label>
          <input type="number" class="form-control" id="font-size"  name="font-size" placeholder="Enter the font size" value="14" >
        </div>
       
       </div>

<div style="display: flex; justify-content:space-between" >
    <div class="form-group" style="width:48%;">
          <label for="border-color">Border Color:</label>
          <input type="color" class="form-control" id="border-color"  name="border-color" value="#FFFFFF" >
        </div>
        

    <div class="form-group" style="width:48%;">
          <label for="border-color">Border Size:</label>
                 <input type="number" class="form-control" id="border-size"  name="border-size" placeholder="Enter border size" value="0" >

        </div>


        </div>
      


      <div style="display: flex; justify-content:space-between" >

 <div class="form-group" style="width:48%;" >
          <label for="header-color">Header Color:</label>
          <input type="color" class="form-control" id="header-color"  name="header-color" value='#FFFFFF' >
        </div>
        <div class="form-group" style="width:48%;" >
          <label for="header-bg-color">Header Bg Color:</label>
          <input type="color" class="form-control" id="header-bg-color"   name="header-bg-color" value="#051837" >
        </div>
        </div>
        
    
         <div style="display: flex; justify-content:space-between" >

 <div class="form-group" style="width:48%;" > 
          <label for="user-msg-color">User Message Color:</label>
          <input type="color" class="form-control" id="user-msg-color"  name="user-msg-color" value='#67748e'>
        </div>
        <div class="form-group" style="width:48%;" >
          <label for="user-msg-bg-color">User Message Bg Color:</label>
          <input type="color" class="form-control" id="user-msg-bg-color"  name="user-msg-bg-color" value="#f5f5f5"  >
        </div>
        </div>


        <div style="display: flex; justify-content:space-between" >

 <div class="form-group" style="width:48%;" >
          <label for="bot-msg-color">Bot Message Color:</label>
          <input type="color" class="form-control" id="bot-msg-color"  name="bot-msg-color" value='#333' >
        </div>
        <div class="form-group" style="width:48%;" >
          <label for="bot-msg-bg-color">Bot Message Bg Color:</label>
          <input type="color" class="form-control" id="bot-msg-bg-color" name="bot-msg-bg-color"  value="#e9e9e9" >
        </div>
        </div>

        <div style="display: flex; justify-content:space-between" >
 

          <div class="form-group" style="width:48%;">
          <label for="send-color">Send Bg Color:</label>
          <input type="color" class="form-control" id="send-bg-color" name="send-bg-color"  value="#051837" >
        </div>


          <div class="form-group" style="width:48%;">
          <label for="send-color">Send Color:</label>
          <input type="color" class="form-control" id="send-color" name="send-color"  value="#FFFFFF" >
        </div>



        </div>

      </div>

      

    
    </form>


    <script>

 



$(document).ready(function() {

  $(".chatbot_model").click(function() {

   window.location.href = '/customer/ai_models/'+ $(this).attr('pk')

  })


  // Attach a click event to the submit button
  $(" #exampleModal  #submitBtn").click(function() {
      $(this).html(animationIcon)
      $(this).attr('style',"background-color:white; ")

    // Get the form data
    const formData = new FormData($("#chatbotForm")[0]);
    formData.append('status',localStorage.getItem("bot-status"))

    // Perform the AJAX request
    $.ajax({
      url: '/customer/ai_models/'+localStorage.getItem("selectedConn"), // Replace with your Django view URL
      type: "POST",
      data: formData,
      processData: false,
      contentType: false,
      headers: {
        "X-CSRFToken": "{{ csrf_token }}" // Replace with the actual CSRF token value
      },
      success: function(response) {
        // Handle the success response here (if needed)
        // console.log('res',response)
        $("#submitBtn").html("Save Bot Prompt")
      $("#submitBtn").attr('style','background: #82d616')
        if (response.message){
          // alert(response.message)
          location.reload();
          // window.location.href = '/customer/ai_models/'+ localStorage.getItem("selectedConn")
        }
      },
      error: function(error) {
 $("#submitBtn").html("Save Bot Prompt")
           $("#submitBtn").attr('style','background: #82d616')

        // Handle the error response here (if needed)
        alert( 'An error occured');
      }
    });
  });
});
 


    </script>


    <script>
function populateForm(chatbotId) {
    $.ajax({
        url: '/customer/get_chatbot_data/',  // Replace with the URL of your Django view
        data: {
            chatbot_id: chatbotId,
        },
        dataType: 'json',
        success: function(data) {
    $('#bot-name').val(data.name);
    $('#connections_pk').val(data.connections_pk);
    $('#header').val(data.header_title);
    $('#greeting').val(data.greeting);
    $('#task').val(data.task);
    $('#font').val(data.font);
    $('#font-size').val(data.font_size);
    $('#border-color').val(data.border_color);
    $('#border-size').val(data.border_size);
    $('#header-color').val(data.header_color);
    $('#header-bg-color').val(data.header_bg_color);
    $('#user-msg-color').val(data.user_msg_color);
    $('#user-msg-bg-color').val(data.user_msg_bg_color);
    $('#bot-msg-color').val(data.bot_msg_color);
    $('#bot-msg-bg-color').val(data.bot_msg_bg_color);
    $('#send-bg-color').val(data.send_bg_color);
    $('#send-color').val(data.send_color);
    $('#bot-image').attr('src', data.bot_image_url);
},
        error: function() {
            alert('Failed to fetch chatbot data.');
        }
    });
}

// Call the function with the chatbot ID
// populateForm(123);  // Replace with the actual chatbot ID
</script>
