{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} UI Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% load widget_tweaks %}
{% block content %}
     <div class="banner-area text-combo top-pad-90 rectangular-shape bg-light-gradient ">
        <div class="item">
            <div class="box-table">
                <div class="box-cell">
                    <div class="containedr mx-4 " style="display: flex; align-items: center; flex-direction: column; width:100%;" >
                        <div class="  px-5" style="width:100%" >
                                <div class=" "  >
                                    <h3 class="wow fadeInDown mt-4 pt-3" data-wow-duration="1s" style="font-size:30px; font-weight: bolder; " >
                                        

{% if source_val == 'dummy' %}
 Select Sample Datasets
 
{% endif %}

{% if source_val == 'task' %}
Select from available task  
{% endif %}



{% if source_val == 'database' %}
<p> Database</p>  
{% endif %}
 

 {% if source_val == 'flatfile' %}
<p> flatfile</p>  
{% endif %}


{% if source_val == 'api' %}
<p> Api</p>  
{% endif %}


{% if source_val == 'application' %}
<p> application</p>  
{% endif %}

{% if source_val == 'cloud' %}
<p> cloud</p>  
{% endif %}

{% if source_val == 'iot' %}
<p> iot</p>  
{% endif %}


                                    </h3>
                                      <br />
                                </div>


                           </div>
<div class="card w-70  my-3 py-2 px-5"  >



{% if source_val == 'dummy' %} 
<!-- Select fakedata sample -->
<div class="form-group my-3 w-100" style="height:180%;" id={{source_val}} >
  <label for="sample-select">Sample Datasets</label>
  <select class="form-control" id="sample-select" name="sample-select">
    <option value="">Select Dataset</option>
        {% for item in data %}
      <option value={{item.id}}  value="">{{item.name}}</option>
    {% endfor %}

  
  </select>
</div>

<!-- Edit fakedata sample -->
<div class="form-group">
  <label for="sample-textarea" >Edit Dataset:</label>
  <textarea class="form-control" id="sample-textarea" name="sample-textarea" rows="10"></textarea>
</div>


<div class="form-group">
  <label for="sample-number" >Duplicate Dataset:</label>
  <input type="number" class="form-control" id="sample-number" name="sample-number" value=10  />
</div>


 
{% endif %}

{% if source_val == 'task' %}

<div class="form-group my-3" style="height:180%;" id={{source_val}} >
  <div class="mb-3">
    <label for="task-name" class="form-label   "> <h5> Tasks </h5> </label>

    <select class="form-control" id="sample-select" name="sample-select">
    <option value="">Select Task</option>
        {% for item in data %}
      <option value={{item.name}}  value="">{{item.name}}</option>
    {% endfor %}

  
  </select>


  </div>
</div>

{% endif %}



{% if source_val == 'database' %}
<p> Database</p>  
{% endif %}
 

 {% if source_val == 'flatfile' %}
<p> flatfile</p>  
{% endif %}


{% if source_val == 'api' %}
<p> Api</p>  
{% endif %}


{% if source_val == 'application' %}
<p> application</p>  
{% endif %}

{% if source_val == 'cloud' %}
<p> cloud</p>  
{% endif %}

{% if source_val == 'iot' %}
<p> iot</p>  
{% endif %}


<div>
    <a href="{% url 'source-credential'  %}" class="btn w-45 btn-secondary btn-lg active my-3" role="button" aria-pressed="true">Test Connection</a>
    <a href="{% url 'source-credential'  %}" class="btn w-45 btn-primary btn-lg active my-3" role="button" aria-pressed="true">Create Connector</a>
</div>

</div>

                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>


          
          
        </div>
      </div>
    </div>
 
    
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}


<style type="text/css">
  .main {
    width: 100%; 

}



/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.source:hover {
    border: 1px solid green;

}

label {
    font-size: 15px;
    margin-bottom: 15px;
}

#sample-textarea {
    white-space: pre-line;  

white-space: pre-wrap;
}
</style>


<!-- <script src="{% static 'ace/ace.js' %}"></script>  -->
  <script>


  

 $('#dummy select').on('change', function() {

const cur_val = $(this).val()
  const  mydata = {{ data|safe }};

$.each(mydata, function( index, value ) {
if (cur_val === value['id'] ){
 $('#sample-textarea').val(JSON.stringify(value['data']))

}
});
 
});



    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
{% endblock javascripts %}

