{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} UI Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% load widget_tweaks %}
{% block content %}
     <div class="banner-area text-combo top-pad-90 rectangular-shape bg-light-gradient ">
        <div class="item">
            <div class="box-table">
                <div class="box-cell">
                    <div class="containedr mx-4 " style="display: flex; align-items: center; flex-direction: column; width:100%;" >
                        <div class="  px-5" style="width:100%" >
                                <div class=" "  >
                                    <h3 class="wow fadeInDown mt-4 pt-3" data-wow-duration="1s" style="font-size:30px; font-weight: bolder; " >Select Source Parameters</h3>
                                      <br />
                                </div>


                           </div>
<div class="card w-50  my-3 py-2 px-5" style="display: flex; align-items: center; flex-direction: column; ">
<a href="{% url 'source-credential'  %}" class="btn btn-primary btn-lg active my-3" role="button" aria-pressed="true">Next</a>
</div>

                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>


          
          
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}
    
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}


<style type="text/css">
  .main {
    width: 100%; 

}



/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.source:hover {
    border: 1px solid green;

}
</style>


  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
{% endblock javascripts %}

