{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} UI Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% load widget_tweaks %}
{% block content %}
     <div class="banner-area text-combo top-pad-90 rectangular-shape bg-light-gradient ">
        <div class="item">
            <div class="box-table">
                <div class="box-cell">
                    <div class="containedr mx-4 " style="display: flex; align-items: center; flex-direction: column; width:100%;" >
                        <div class="  px-5" style="width:100%" >
                                <div class=" "  >
                                    <h3 class="wow fadeInDown mt-4 pt-3" data-wow-duration="1s" style="font-size:30px; font-weight: bolder; " >
                                        

{% if source_val == 'dummy' %}
 Select Sample Datasets
 
{% endif %}

{% if source_val == 'task' %}
Load from available task  
{% endif %}



{% if source_val == 'database' %}
Provide Database Connection Parameters
{% endif %}
 

 {% if source_val == 'flatfile' %}
Load Data from Flat-File 
{% endif %}


{% if source_val == 'api' %}
Connect to an API 
{% endif %}


{% if source_val == 'application' %}
Connect to an Application
{% endif %}
{% if source_val == 'social_media' %}
Connect to Social Media Account
{% endif %}

{% if source_val == 'cloud' %}
Connect to a Cloud Storage 
{% endif %}

{% if source_val == 'iot' %}
Connect to an IoT Device
{% endif %}


                                    </h3>
                                      <br />
                                </div>


                           </div>
<form class="card w-70  my-3 py-2 px-5"   enctype="multipart/form-data" method="POST" action="" > 

   {% csrf_token %}
    <input type="text" class="form-control" style="display:none;"  value="{{source_val}}" id="connector_type" name="connector_type">
    <input type="text" class="form-control" style="display:none;"  value="{{connector.pk}}" id="connector_pk" name="connector_pk">


{% if source_val == 'dummy' %} 
<!-- Select fakedata sample -->
<div class="form-group my-3 w-100" style="height:180%;" id={{source_val}} >
     <div class="mb-3">
    <label for="connector-name" class="form-label">Connector Name</label>
    <input type="text" class="form-control" disabled value="{{connector.name}}" id="connector-name" name="connector-name">
  </div>
  <label for="sample-select">Sample Datasets</label>

    <select class="form-control" id="sample-select" name="datasets" value="{{post_data.datasets}}">
    <option selected disabled value="">-- Select Dataset --</option>
        {% for item in data %}
      <option value={{item.id}}  value="">{{item.name}}</option>
    {% endfor %}

  
  </select>



  
  </select>
</div>

<!-- Edit fakedata sample -->
<div class="form-group">
  <label for="sample-textarea" >Edit Dataset:</label>
  <textarea class="form-control" id="sample-textarea" value="{{post_data.datasets_content}}" name="datasets_content" rows="10"></textarea>
</div>


<div class="form-group">
  <label for="sample-number" >Duplicate Dataset:</label>

{% if post_data.datasets_number %}

  <input type="number" class="form-control" id="sample-number"  value="{{post_data.datasets_number}}" name="datasets_number" placeholder="10"   />

{% else %}

  <input type="number" class="form-control" id="sample-number"  name="datasets_number" value=10   />

  {% endif %}
</div>


 
{% endif %}

{% if source_val == 'task' %}

<div class="form-group my-3" style="height:180%;" id={{source_val}} >
     <div class="mb-3">
    <label for="connector-name" class="form-label">Connector Name</label>
    <input type="text" class="form-control" disabled value="{{connector.name}}" id="connector-name" name="connector-name">
  </div>
  <div class="mb-3">
    <label for="task-name" class="form-label   "> Tasks  </label>

    <select required class="form-control" id="sample-select" name="tasks"  value="{{post_data.tasks}}">
    <option value=""  selected disabled>-- Select Task --</option>
        {% for item in data %}
      <option value="{{item.pk}}"  >{{item.name}}</option>
    {% endfor %}

  
  </select>


  </div>
</div>

{% endif %}



{% if source_val == 'database' %}
     <div class="mb-3">
    <label for="connector-name" class="form-label">Connector Name</label>
    <input type="text" class="form-control" disabled value="{{connector.name}}" id="connector-name" name="connector-name">
  </div>
  <div class="mb-3">
    <label for="db-type" class="form-label">Database Type</label>
    <select   value="{{post_data.db_type}}"   placeholder="{{post_data.db_type}}"   required class="form-select" id="db_type" name="db_type">
      <option disabled>Select database type</option>


{% if post_data.db_type == 'postgresql' %}
      <option value="postgresql" selected >PostgreSQL</option>

{% else %}
      <option value="postgresql"  >PostgreSQL</option>
{% endif %}


{% if post_data.db_type == "mysql" %}
      <option value="mysql" selected>MySQL</option>

{% else %}
      <option value="mysql" >MySQL</option>

{% endif %}



{% if post_data.db_type == "sqlite" %}
      <option value="sqlite" selected>SQLite</option>

{% else %}
      <option value="sqlite">SQLite</option>

{% endif %}



{% if post_data.db_type == "oracle" %}
      <option value="oracle" selected>Oracle</option>

{% else %}
      <option value="oracle">Oracle</option>

{% endif %}



{% if post_data.db_type == "mssql" %}
      <option value="mssql" selected>Microsoft SQL Server</option>

{% else %}
      <option value="mssql">Microsoft SQL Server</option>

{% endif %}

 


    </select>
  </div>
  <div class="mb-3">
    <label for="host" class="form-label">Host</label>
    <input  value="{{post_data.host}}" required type="text" class="form-control" id="host" name="host" placeholder="Enter host">
  </div>
  <div class="mb-3">
    <label for="port" class="form-label">Port</label>
    <input  value="{{post_data.port}}" required type="text" class="form-control" id="port" name="port" placeholder="Enter port">
  </div>
  <div class="mb-3">
    <label for="db-name" class="form-label">Name/SID</label>
    <input value="{{post_data.db_name}}"   type="text" class="form-control" id="db_name" name="db_name" placeholder="Enter database name">
  </div>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input value="{{post_data.username}}"   type="text" class="form-control" id="username" name="username" placeholder="Enter username">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input   value="{{post_data.password}}" type="password" class="form-control" id="password" name="password" placeholder="Enter password">
  </div>
   <div class="mb-3">
    <label for="host" class="form-label">Table Name</label>
    <input  value="{{post_data.table_name}}" required type="text" class="form-control" id="table_name" name="table_name" placeholder="Table to query">
  </div>

  <div class="mb-3">
  <label for="sql-query" class="form-label">SQL Query</label>
  <textarea style="background-color: #eeeee;" class="form-control" value="{{post_data.sql_query}}" id="sql_query" name="sql_query" rows="7">
  {{post_data.sql_query}}
  </textarea>
</div>
 

 


{% endif %}
 

 {% if source_val == 'flatfile' %}

  <div class="mb-3">
    <label for="connector-name" class="form-label">Connector Name</label>
    <input type="text" class="form-control" disabled value="{{connector.name}}" id="connector-name" name="connector-name">
  </div>
  <div class="mb-3">
    <label for="file-type" class="form-label">File Type </label> 
    <select  value="{{post_data.filetype}}" required class="form-select" id="file-type" name="filetype" >
      <option value="csv">CSV</option>
      <option value="excel" >Excel</option>
      <option value="json">JSON</option>
      <option value="xml">XML</option>
      <option value="other">Other</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="file-path" class="form-label">File Path</label>
       <input  required value="{{post_data.file_path}}" type="file" class="form-control" id="file-path"  multiple name="files">
  </div>
  <div class="mb-3">
    <label for="delimiter" class="form-label">Delimiter</label>
    <input type="text" class="form-control" value="{{post_data.delimiter}}" id="delimiter" name="delimiter" value=",">
  </div>
  <div class="mb-3">
    <label for="quotechar" class="form-label">Quote Character</label>
    <input type="text" class="form-control" value="{{post_data.quotechar}}" id="quotechar" name="quotechar" value='"'>
  </div>

{% endif %}


{% if source_val == 'api' %}

    <div class="mb-3">
    <label for="connector-name" class="form-label">Connector Name</label>
    <input type="text" class="form-control" disabled value="{{connector.name}}" id="connector-name" name="connector-name">
  </div>
  <div class="mb-3">
    <label for="api-name" class="form-label">API Name</label>
    <input  required type="text" class="form-control" value="{{post_data.apiname}}" id="api-name" name="apiname">
  </div>
  <div class="mb-3">
    <label for="api-type" class="form-label">API Type</label>
    <select  required class="form-select" id="api-type" value="{{post_data.apitype}}" name="apitype">
      <option selected disabled>-- Select API Type --</option>
      <option value="rest">REST</option>
      <option value="soap">SOAP</option>
      <option value="graphql">GraphQL</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="api-endpoint" class="form-label">API Endpoint</label>
    <input  required type="text" class="form-control" id="api-endpoint" value="{{post_data.apiendpoint}}" name="apiendpoint">
  </div>
  <div class="mb-3">
    <label for="api-username" class="form-label">API Username</label>
    <input  required type="text" class="form-control" id="api-username" value="{{post_data.apiusername}}" name="apiusername">
  </div>
  <div class="mb-3">
    <label for="api-password" class="form-label">API Password</label>
    <input  required type="password" class="form-control" id="api-password" value="{{post_data.apipassword}}" name="apipassword">
  </div>
  <div class="mb-3">
    <label for="api-token" class="form-label">API Token</label>
    <input type="text" class="form-control" id="api-token" value="{{post_data.apitoken}}" name="apitoken">
  </div>
 
{% endif %}


{% if source_val == 'application' %}
 
   <div class="mb-3">
    <label for="connector-name" class="form-label">Connector Name</label>
    <input type="text" class="form-control" disabled value="{{connector.name}}" id="connector-name" name="connector-name">
  </div>
  <div class="mb-3">
    <label for="application-name" class="form-label" >Application Name</label>
    <select  required class="form-select" value="{{post_data.appname}}" id="application-name" name="appname">
      <option value="" selected disabled>Select an application</option>
      <option value="SAP">SAP</option>
      <option value="Salesforce">Salesforce</option>
      <option value="Microsoft Dynamics">Microsoft Dynamics</option>
      <option value="Oracle E-Business Suite">Oracle E-Business Suite</option>
      <!-- Add more options as needed -->
    </select>
  </div>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input  required type="text" class="form-control" value="{{post_data.username}}" id="username" name="username">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input required  type="password" class="form-control" value="{{post_data.password}}" id="password" name="password">
  </div>
 

{% endif %}

{% if source_val == 'social_media' %}
  <div class="my-3 ">
    <label for="connector-type" class="form-label">Social Media</label>
    <select class="form-select" id="media_type" name="media_type" value="{{post_data.media_type}}">
      <option selected disabled>Select Connector Type</option>
      <option value="facebook">Facebook</option>
      <option value="twitter">Twitter</option>
      <option value="linkedin">LinkedIn</option>
      <option value="instagram">Instagram</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="client-id" class="form-label">Client ID</label>
    <input type="text" class="form-control" id="client_id" name="client_id" value="{{post_data.client_id}}" required>
  </div>
  <div class="mb-3">
    <label for="client-secret" class="form-label">Client Secret</label>
    <input type="password" class="form-control" id="client_secret" name="client_secret"  value="{{post_data.client_id}}">
  </div>
  <div class="mb-3">
    <label for="access-token" class="form-label">Access Token</label>
    <input type="text" class="form-control" id="access_token" name="access_token"  value="{{post_data.client_id}}">
  </div>


{% endif %}



{% if source_val == 'cloud' %}
 
       <div class="mb-3">
    <label for="connector-name" class="form-label">Connector Name</label>
    <input type="text" class="form-control" disabled value="{{connector.name}}" id="connector-name" name="connector-name">
  </div>

  <div class="mb-3">
    <label for="service" class="form-label">Service</label>
    <select  required class="form-select" id="service" name="service" value="{{post_data.service}}"  required>
      <option value="">-- Select a service --</option>
      <option value="aws">Amazon S3</option>
      <option value="gcp">Google Cloud Storage</option>
      <option value="azure">Azure Blob Storage</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="access_key" class="form-label">Access Key</label>
    <input  required type="text" class="form-control" id="access_key" name="access_key" value="{{post_data.access_key}}"  required>
  </div>
  <div class="mb-3">
    <label for="secret_key" class="form-label">Secret Key</label>
    <input required  type="password" class="form-control" id="secret_key" name="secret_key" value="{{post_data.secret_key}}"  required>
  </div>
  <div class="mb-3">
    <label for="bucket_name" class="form-label">Bucket Name</label>
    <input type="text" class="form-control" id="bucket_name" name="bucket_name" value="{{post_data.bucket_name}}"  required>
  </div>
  <div class="mb-3">
    <label for="region" class="form-label">Region</label>
    <input type="text" class="form-control" id="region" name="region"  value="{{post_data.region}}"  required>
  </div>
  <div class="mb-3">
    <label for="endpoint" class="form-label">Endpoint</label>
    <input type="text" class="form-control" id="endpoint" name="endpoint" value="{{post_data.endpoint}}" >
    <div class="form-text">Enter an endpoint URL for custom services, leave blank otherwise.</div>
  </div>
 
  
{% endif %}

{% if source_val == 'iot' %}
 
      <div class="mb-3">
    <label for="connector-name" class="form-label">Connector Name</label>
    <input type="text" class="form-control" disabled value="{{connector.name}}" id="connector-name" name="connector-name">
  </div>

  <div class="mb-3">
    <label for="connector-name" class="form-label">Connector Name</label>
    <select class="form-select" aria-label="Select Connector" id="connector-name" name="connector_name" value="{{post_data.connector_name}}" >
      <option selected disabled>-- Select Connector --</option>
      <option value="MQTT Connector">MQTT Connector</option>
      <option value="CoAP Connector">CoAP Connector</option>
      <option value="LoRaWAN Connector">LoRaWAN Connector</option>
      <option value="Zigbee Connector">Zigbee Connector</option>
      <option value="Bluetooth Connector">Bluetooth Connector</option>
      <option value="Modbus TCP Connector">Modbus TCP Connector</option>
      <option value="OPC UA Connector">OPC UA Connector</option>
      <option value="HTTP Connector">HTTP Connector</option>
      <option value="AMQP Connector">AMQP Connector</option>
      <option value="XMPP Connector">XMPP Connector</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="device-type" class="form-label">Device Type</label>
    <input type="text" class="form-control" id="device-type" name="device_type" value="{{post_data.device_type}}" >
  </div>
  <div class="mb-3">
    <label for="device-id" class="form-label">Device ID</label>
    <input type="text" class="form-control" id="device-id" name="device_id" value="{{post_data.device_id}}" >
  </div>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" value="{{post_data.username}}" >
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" value="{{post_data.password}}" >
  </div>
 
{% endif %}


    {% if source_val != 'task' %}
<div>
    <a href="{% url 'source-credential'  %}" class="btn w-45 btn-secondary btn-lg active my-3" role="button" aria-pressed="true">Test Connection</a>

    <input type="submit"   value="Save Connector"  class="btn w-45 btn-primary btn-lg active my-3" role="button" aria-pressed="true" />

  
</div>
  {% else %}

    <a href="{% url 'source-credential'  %}" class="btn  btn-primary btn-lg active my-3" role="button" aria-pressed="true">
{% if connector.name %}
    Create Connector
{% else %}

    Update Connector
{% endif %}
</a>
        {% endif %}

</form>

                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>


          
          
        </div>
      </div>
    </div>
 
    
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}


<style type="text/css">
  .main {
    width: 100%; 

}



/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.source:hover {
    border: 1px solid green;

}

label {
    font-size: 15px;
    margin-bottom: 15px;
}

#sample-textarea {
    white-space: pre-line;  

white-space: pre-wrap;
}
</style>


<!-- <script src="{% static 'ace/ace.js' %}"></script>  -->
  <script>


  

 $('#dummy select').on('change', function() {

const cur_val = $(this).val()
  const  mydata = {{ data|safe }};

$.each(mydata, function( index, value ) {
if (cur_val === value['id'] ){
 $('#sample-textarea').val(JSON.stringify(value['data']))

}
});
 
});



    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
{% endblock javascripts %}

