{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} UI Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% load widget_tweaks %}
{% block content %}
     <div class="banner-area text-combo top-pad-90 rectangular-shape bg-light-gradient ">
        <div class="item">
            <div class="box-table">
                <div class="box-cell">
                    <div class="containedr mx-4 " style="display: flex; align-items: center; flex-direction: column; width:100%;" >
                        <div class="  px-5" style="width:100%" >
                                <div class=" "  >
                                    <h3 class="wow fadeInDown mt-4 pt-3" data-wow-duration="1s" style="font-size:30px; font-weight: bolder; " >Select Source Connector</h3>
                                    <p class="wow fadeInLeft" data-wow-duration="1.5s">
                                        <strong>Provide a source data to task by selecting a connector.</strong>
                                      <br />
                                    </p>
                                </div>


                           </div>
<div class="card w-70  my-3 py-2 px-5" style="display: flex; align-items: center; flex-direction: column; ">


   {% if connector.connector_type == "dummy" or not connector.connector_type  %}
<div class="card source w-100 mt-4 mb-3 py-2 px-5 " id="hover" source-val="dummy" style="border-radius: 100px;"  >
    {% else %}
<div class="card source w-100 mt-4 mb-3 py-2 px-5 " source-val="dummy" style="border-radius: 100px;"  >
    {% endif %}

 
    <div style="display:flex; flex-direction:row; align-items: center; justify-content: space-between; "  >
    <div  style="width: 15%;" >

<img src="{% static 'assets/img/icons8-3d-design-64.png''%}" width="52px">
    </div>
    <div  style="width: 85%;"  >
        <h1  class="wow fadeInDown" data-wow-duration="1s" style="font-size:20px; font-weight: bolder; "  >Datasets Connector</h1>
     <strong>Extract data from long selections of real world sample data.</strong> 
                   </div>
    </div>
</div>


   {% if connector.connector_type == "task"   %}
<div class="card source w-100 mt-4 mb-3 py-2 px-5 " id="hover" source-val="task" style="border-radius: 100px;"  >

    {% else %}
<div class="card source w-100 mb-3 py-2 px-5" source-val="task" style="border-radius: 100px;">

    {% endif %}

    <div style="display:flex; flex-direction:row; align-items: center; justify-content: space-between; "  >
    <div  style="width: 15%;" >

<img src="{% static 'assets/img/icons8-photovoltaic-panel-wall-panel-in-a-hexagonal-shape-isolated-on-a-white-background-40.png''%}">
    </div>
    <div  style="width: 85%;" >
        <h1 class="wow fadeInDown" data-wow-duration="1s" style="font-size:20px; font-weight: bolder; " >Task Connector
</h1>
     <strong> Extract data from a running task.</strong> 
                   </div>
    </div>
</div>



   {% if connector.connector_type == "database"   %}
<div class="card source w-100 mt-4 mb-3 py-2 px-5 " id="hover" source-val="database" style="border-radius: 100px;"  >

    {% else %}
<div class="card source w-100 mb-3 py-2 px-5" source-val="database" style="border-radius: 100px;">

    {% endif %}

 
    <div style="display:flex; flex-direction:row; align-items: center; justify-content: space-between; "  >
    <div  style="width: 15%;" >

<img src="{% static 'assets/img/icons8-database-administrator-50.png''%}" width="45px">
    </div>
    <div  style="width: 85%;" >
        <h1 class="wow fadeInDown" data-wow-duration="1s" style="font-size:20px; font-weight: bolder; " >Database Connector
</h1>
     <strong> Extract data from various types of databases</strong> 
                   </div>
    </div>
</div>

   {% if connector.connector_type == "flatfile"   %}
<div class="card source w-100 mt-4 mb-3 py-2 px-5 " id="hover" source-val="flatfile" style="border-radius: 100px;"  >

    {% else %}
<div class="card source w-100 mb-3 py-2 px-5" source-val="flatfile" style="border-radius: 100px;">

    {% endif %}

    <div style="display:flex; flex-direction:row; align-items: center; justify-content: space-between; "  >
    <div  style="width: 15%;" >

<img src="{% static 'assets/img/icons8-documents-50.png''%}">
    </div>
    <div  style="width: 85%;" >
        <h1 class="wow fadeInDown" data-wow-duration="1s" style="font-size:20px; font-weight: bolder; " >Flat File Connector

</h1>
     <strong> Extract data from various types of flat files such as CSV, Excel, JSON, XML, and others.</strong> 
                   </div>
    </div>
</div>
{% if connector.connector_type == "api"   %}
<div class="card source w-100 mt-4 mb-3 py-2 px-5 " id="hover" source-val="api" style="border-radius: 100px;"  >

    {% else %}
<div class="card source w-100 mb-3 py-2 px-5" source-val="api" style="border-radius: 100px;">

    {% endif %}
    <div style="display:flex; flex-direction:row; align-items: center; justify-content: space-between; "  >
    <div  style="width: 15%;" >

<img src="{% static 'assets/img/icons8-api-50.png''%}">
    </div>
    <div  style="width: 85%;" >
        <h1 class="wow fadeInDown" data-wow-duration="1s" style="font-size:20px; font-weight: bolder; " >API Connector
</h1>
     <strong>Extract data from various types of APIs such as REST, SOAP, and GraphQL.</strong> 
                   </div>
    </div>
</div>
{% if connector.connector_type == "application"   %}
<div class="card source w-100 mt-4 mb-3 py-2 px-5 " id="hover" source-val="application" style="border-radius: 100px;"  >

    {% else %}
<div class="card source w-100 mb-3 py-2 px-5" source-val="applicationapplication" style="border-radius: 100px;">

    {% endif %}
    <div style="display:flex; flex-direction:row; align-items: center; justify-content: space-between; "  >
    <div  style="width: 15%;" >

<img src="{% static 'assets/img/icons8-application-form-24.png''%}" width="45px">
    </div>
    <div  style="width: 85%;" >
        <h1 class="wow fadeInDown" data-wow-duration="1s" style="font-size:20px; font-weight: bolder; " >Application Connector
</h1>
     <strong>Extract data from various types of enterprise applications such as SAP, Salesforce, Microsoft Dynamics, and others. </strong> 
                   </div>
    </div>
</div>
{% if connector.connector_type == "cloud"   %}
<div class="card source w-100 mt-4 mb-3 py-2 px-5 " id="hover" source-val="cloud" style="border-radius: 100px;"  >

    {% else %}
<div class="card source w-100 mb-3 py-2 px-5" source-val="cloud" style="border-radius: 100px;">

    {% endif %}

    <div style="display:flex; flex-direction:row; align-items: center; justify-content: space-between; "  >
    <div  style="width: 15%;" >

<img src="{% static 'assets/img/icons8-cloud-storage-50.png''%}" width="45px">
    </div>
    <div  style="width: 85%;" >
        <h1 class="wow fadeInDown" data-wow-duration="1s" style="font-size:20px; font-weight: bolder; " >Cloud storage Connector
</h1>
     <strong>Extract data from various types of cloud storage services such as Amazon S3, Google Cloud Storage, and Azure Blob Storage.</strong> 
                   </div>
    </div>
</div>

{% if connector.connector_type == "cloud"   %}
<div class="card source w-100 mt-4 mb-3 py-2 px-5 " id="hover" source-val="iot" style="border-radius: 100px;"  >

    {% else %}
<div class="card source w-100 mb-3 py-2 px-5" source-val="iot" style="border-radius: 100px;">

    {% endif %}

    <div style="display:flex; flex-direction:row; align-items: center; justify-content: space-between; "  >
    <div  style="width: 15%;" >

<img src="{% static 'assets/img/icons8-iot-64.png''%}" width="55px">
    </div>
    <div  style="width: 85%;" >
        <h1 class="wow fadeInDown" data-wow-duration="1s" style="font-size:20px; font-weight: bolder; " >IOT Connector
</h1>
     <strong>Extract data from various types of IoT devices and sensors.</strong> 
                   </div>
    </div>
</div>

<a id='next' href="/customer/source-credential?source-val=dummy" class="btn btn-primary btn-lg active my-3" role="button" aria-pressed="true">Next</a>
</div>

                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>


          
          
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}
    
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}


<style type="text/css">
  .main {
    width: 100%; 

}



/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.385rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.385rem;
    height: 2.385rem;
    line-height: 2.385rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.source:hover {
    border: 1px solid green;

}

#hover {
    border: 1px solid green;

}
</style>


  <script>

 const source =  $(".source")
 source.click(function(e){
 source.removeAttr("id")
 $(this).attr('id','hover')
// localStorage.set("source-val", $(this).attr('source-val'))
$("#next").attr("href","/customer/source-credential?source-val="+$(this).attr('source-val')||'dummy')

    })


 


    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
{% endblock javascripts %}

